# Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os

# Import Unemployment Data

In [2]:
path = r'C:\Users\Eric\Desktop\Data Analytics\Data Immersion\Achievement 6'

In [3]:
unemp = pd.read_csv(os.path.join(path,'Data','Original Data','Unemployment.csv'))

In [4]:
unemp

,FIPS_Code,State,Area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,Civilian_labor_force_2000,Employed_2000,Unemployed_2000,Unemployment_rate_2000,...,Civilian_labor_force_2019,Employed_2019,Unemployed_2019,Unemployment_rate_2019,Civilian_labor_force_2020,Employed_2020,Unemployed_2020,Unemployment_rate_2020,Median_Household_Income_2019,Med_HH_Income_Percent_of_State_Total_2019
0,0,US,United States,NaN,NaN,NaN,"142,601,576","136,904,853","5,696,723",4.0,...,"163,140,305","157,154,185","5,986,120",3.7,"160,611,064","147,677,360","12,933,704",8.1,"65,712",NaN
1,1000,AL,Alabama,NaN,NaN,NaN,"2,147,173","2,047,731","99,442",4.6,...,"2,237,278","2,169,395","67,883",3.0,"2,230,118","2,099,062","131,056",5.9,"51,771",100.0
2,1001,AL,"Autauga County, AL",2.0,2.0,1.0,"21,861","20,971",890,4.1,...,"26,281","25,561",720,2.7,"25,838","24,576","1,262",4.9,"58,233",112.5
3,1003,AL,"Baldwin County, AL",3.0,2.0,1.0,"69,979","67,370","2,609",3.7,...,"97,424","94,713","2,711",2.8,"96,763","91,338","5,425",5.6,"59,871",115.6
4,1005,AL,"Barbour County, AL",6.0,6.0,0.0,"11,449","10,812",637,5.6,...,"8,502","8,177",325,3.8,"8,587","7,982",605,7.0,"35,972",69.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3270,72145,PR,"Vega Baja Municipio, PR",1.0,1.0,1.0,"19,805","17,607","2,198",11.1,...,"13,172","11,910","1,262",9.6,NaN,NaN,NaN,NaN,NaN,NaN
3271,72147,PR,"Vieques Municipio, PR",7.0,12.0,0.0,"2,441","2,120",321,13.2,...,"2,616","2,433",183,7.0,NaN,NaN,NaN,NaN,NaN,NaN
3272,72149,PR,"Villalba Municipio, PR",2.0,2.0,1.0,"7,636","6,648",988,12.9,...,"7,492","6,307","1,185",15.8,NaN,NaN,NaN,NaN,NaN,NaN
3273,72151,PR,"Yabucoa Municipio, PR",1.0,1.0,1.0,"10,613","9,005","1,608",15.2,...,"8,840","7,685","1,155",13.1,NaN,NaN,NaN,NaN,NaN,NaN
3274,72153,PR,"Yauco Municipio, PR",2.0,2.0,1.0,"14,664","12,871","1,793",12.2,...,"9,849","8,407","1,442",14.6,NaN,NaN,NaN,NaN,NaN,NaN

# Shape DataFrame and Delete Columns

In [5]:
unemp.columns.tolist()

['FIPS_Code',
 'State',
 'Area_name',
 'Rural_urban_continuum_code_2013',
 'Urban_influence_code_2013',
 'Metro_2013',
 'Civilian_labor_force_2000',
 'Employed_2000',
 'Unemployed_2000',
 'Unemployment_rate_2000',
 'Civilian_labor_force_2001',
 'Employed_2001',
 'Unemployed_2001',
 'Unemployment_rate_2001',
 'Civilian_labor_force_2002',
 'Employed_2002',
 'Unemployed_2002',
 'Unemployment_rate_2002',
 'Civilian_labor_force_2003',
 'Employed_2003',
 'Unemployed_2003',
 'Unemployment_rate_2003',
 'Civilian_labor_force_2004',
 'Employed_2004',
 'Unemployed_2004',
 'Unemployment_rate_2004',
 'Civilian_labor_force_2005',
 'Employed_2005',
 'Unemployed_2005',
 'Unemployment_rate_2005',
 'Civilian_labor_force_2006',
 'Employed_2006',
 'Unemployed_2006',
 'Unemployment_rate_2006',
 'Civilian_labor_force_2007',
 'Employed_2007',
 'Unemployed_2007',
 'Unemployment_rate_2007',
 'Civilian_labor_force_2008',
 'Employed_2008',
 'Unemployed_2008',
 'Unemployment_rate_2008',
 'Civilian_labor_force_2009',
 'Employed_2009',
 'Unemployed_2009',
 'Unemployment_rate_2009',
 'Civilian_labor_force_2010',
 'Employed_2010',
 'Unemployed_2010',
 'Unemployment_rate_2010',
 'Civilian_labor_force_2011',
 'Employed_2011',
 'Unemployed_2011',
 'Unemployment_rate_2011',
 'Civilian_labor_force_2012',
 'Employed_2012',
 'Unemployed_2012',
 'Unemployment_rate_2012',
 'Civilian_labor_force_2013',
 'Employed_2013',
 'Unemployed_2013',
 'Unemployment_rate_2013',
 'Civilian_labor_force_2014',
 'Employed_2014',
 'Unemployed_2014',
 'Unemployment_rate_2014',
 'Civilian_labor_force_2015',
 'Employed_2015',
 'Unemployed_2015',
 'Unemployment_rate_2015',
 'Civilian_labor_force_2016',
 'Employed_2016',
 'Unemployed_2016',
 'Unemployment_rate_2016',
 'Civilian_labor_force_2017',
 'Employed_2017',
 'Unemployed_2017',
 'Unemployment_rate_2017',
 'Civilian_labor_force_2018',
 'Employed_2018',
 'Unemployed_2018',
 'Unemployment_rate_2018',
 'Civilian_labor_force_2019',
 'Employed_2019',
 'Unemployed_2019',
 'Unemployment_rate_2019',
 'Civilian_labor_force_2020',
 'Employed_2020',
 'Unemployed_2020',
 'Unemployment_rate_2020',
 'Median_Household_Income_2019',
 'Med_HH_Income_Percent_of_State_Total_2019']

In [6]:
# Remove Rate Columns (can be re-calculated later)
unemp = unemp[unemp.columns.drop(list(unemp.filter(regex='Unemployment_rate')))]

In [7]:
# Remove _code_
unemp = unemp[unemp.columns.drop(list(unemp.filter(regex='_code_')))]

In [8]:
# Remove remaining unnecessary columns
unemp = unemp[unemp.columns.drop(['Metro_2013','Median_Household_Income_2019',
 'Med_HH_Income_Percent_of_State_Total_2019'])]

In [9]:
#Unemployed
unemployed_list = ['FIPS_Code','State','Area_name']
o = ['Unemployed_' + str(x) for x in range(2010,2020)]
unemployed_list += o
unemployed = unemp.filter(unemployed_list)

# remove Deaths_ from columns
unemployed.columns = [col.replace('Unemployed_','') for col in unemployed.columns]

# reduce into rows
unemployed = pd.melt(unemployed,id_vars=['FIPS_Code','State','Area_name'],
                 var_name = 'Year',value_name = 'Unemployed')

In [10]:
#Employed
employed_list = ['FIPS_Code','State','Area_name']
o = ['Employed_' + str(x) for x in range(2010,2020)]
employed_list += o
employed = unemp.filter(employed_list)

# remove Employed_ from columns
employed.columns = [col.replace('Employed_','') for col in employed.columns]

# reduce into rows
employed = pd.melt(employed,id_vars=['FIPS_Code','State','Area_name'],
                 var_name = 'Year',value_name = 'Employed')

In [11]:
#Labor Force
labor_list = ['FIPS_Code','State','Area_name']
o = ['Civilian_labor_force_' + str(x) for x in range(2010,2020)]
labor_list += o
labor = unemp.filter(labor_list)

# remove Employed_ from columns
labor.columns = [col.replace('Civilian_labor_force_','') for col in labor.columns]

# reduce into rows
labor = pd.melt(labor,id_vars=['FIPS_Code','State','Area_name'],
                 var_name = 'Year',value_name = 'Labor_Force')

In [12]:
unemp_df = pd.merge(unemployed,employed,how='inner',
                   on=['FIPS_Code','State','Area_name','Year'])

In [13]:
unemp_df = unemp_df.merge(labor,how='inner',
                   on=['FIPS_Code','State','Area_name','Year'])

In [14]:
unemp_df

,FIPS_Code,State,Area_name,Year,Unemployed,Employed,Labor_Force
0,0,US,United States,2010,"14,860,707","139,393,814","154,254,521"
1,1000,AL,Alabama,2010,"228,204","1,968,824","2,197,028"
2,1001,AL,"Autauga County, AL",2010,"2,268","23,481","25,749"
3,1003,AL,"Baldwin County, AL",2010,"8,268","75,283","83,551"
4,1005,AL,"Barbour County, AL",2010,"1,241","8,978","10,219"
...,...,...,...,...,...,...,...
32745,72145,PR,"Vega Baja Municipio, PR",2019,"1,262","11,910","13,172"
32746,72147,PR,"Vieques Municipio, PR",2019,183,"2,433","2,616"
32747,72149,PR,"Villalba Municipio, PR",2019,"1,185","6,307","7,492"
32748,72151,PR,"Yabucoa Municipio, PR",2019,"1,155","7,685","8,840"
32749,72153,PR,"Yauco Municipio, PR",2019,"1,442","8,407","9,849"

In [15]:
unemp_df.to_pickle(os.path.join(path,'Data','Prepared Data','unemployment_organized.pkl'))